<%= link_to 'VER',  { :controller => 'wfcvolados', :action => 'show', :id => @wfcvolado }, :class => 'btn btn-default' %>
  <% form_tag :action => 'confirmarupdate', :id => @wfcvolado do %>
	<div class="overdiv">
		<%= render :partial => 'form' %>
	</div>
	<%= submit_tag 'Guardar' %>
  <% end %>
